@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

body {
    font-family: 'Roboto Slab', serif;
    background-color: #F6F6F6;
    color: #263238;
}

#content {
    width: 60%;
    max-width: 860px;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

#content header {
    font-size: 3em;
    font-weight: 700;
}

#domain {
    color: #2196F3;
    font-weight: 400;
}

#content section {
    text-align: justify;
    padding-top: 2em;
}

#content section h1 {
    color: #2196F3;
    border-bottom: #d0d0d0 dashed thin;
    background-color: #fdfdfd;
    margin: 0;
    padding: 4px;
}

#content a {
    color: #2196F3;
    text-decoration: none;
}

#content p {
    margin-top: 0em;
    margin-bottom: 1.25em;
}

#intro {
    margin-bottom: -1.25em;
}

#copyright {
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}

#projects {
    margin-bottom: -1em;
}

#projectList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

#projectList a {
    font-weight: 700;
}

#projectList p {
    margin: 0em;
    margin-bottom: 1em;
    font-size: 0.8em;
}