body {
    background-color: #070808;
    color: #f2f7f7;
    font-family: "Raleway", sans-serif;
}

.content {
    padding: 1em;
}

h1 {
    font-size: 8em;
    font-weight: bolder;
    margin: 0;
}

.info {
    font-size: 2em;
}

.info a {
    color: #f2f7f7;
    text-decoration: none;
}

.info a:hover {
    background-color: #faffff;
    color: #070808;
}

.info ul {
    display: inline;
    list-style: none;
}

.links {
    display: inline;
    list-style: none;
    padding: 0px;
}

.links li {
    display: inline;
}

.links li:not(:last-child):after {
    content: ", ";
    color: white;
}

.links::before {
    content: "{ ";
}

.links::after {
    content: " }";
}
